#                                  Generating a own Dataset from AI

- Input ; Give me a dataset for multiple juices in a shop for to make visual data studio to find the sales also need gender, age, juice Verity wise I need minimum 8 Verity of juice in a shop customer age from 10 to 65 age of people's Give me sales details from July 1st 2025 to 31st of July need minimum 500 sales dataset in csv format

- Output :  I can't directly generate downloadable Excel files in this chat.That part needs to be handled manually

- input; covert it to csv file

- again output is not in csv format.

- so given input as "you are not coverting so I check with chatgpt"

- output : Copilot Generated a Python Code for own dataset.csv File

- after reviewed the output, its not in csv format.also given more input to add in the column following

       - payment methods like Cash,Card,UPI,Wallet
       - timing like Morning,Afternoon,Evening
       - customer type like New,regular

In [1]:
# Python Code to Generate the own dataset


import pandas as pd
import random
from datetime import datetime, timedelta

# Setup
juice_types = ["Orange", "Apple", "Mango", "Pineapple", "Watermelon", "Grape", "Pomegranate", "Mixed Fruit"]
payment_methods = ["Cash", "Card", "UPI", "Wallet"]
times_of_day = ["Morning", "Afternoon", "Evening"]
customer_types = ["New", "Regular"]
genders = ["Male", "Female"]

# Generate 500+ rows
start_date = datetime(2025, 7, 1)
data = []

for _ in range(545):
    date = start_date + timedelta(days=random.randint(0, 30))
    juice = random.choice(juice_types)
    quantity = random.randint(1, 5)
    unit_price = random.randint(40, 70)
    total_price = quantity * unit_price
    age = random.randint(10, 65)
    gender = random.choice(genders)
    payment = random.choice(payment_methods)
    time = random.choice(times_of_day)
    cust_type = random.choice(customer_types)
    

    data.append({
        "Date": date.strftime('%Y-%m-%d'),
        "Juice Type": juice,
        "Quantity": quantity,
        "Unit Price": unit_price,
        "Total Price": total_price,
        "Customer Age": age,
        "Gender": gender,
        "Payment Method": payment,
        "Time of Day": time,
        "Customer Type": cust_type,
        
    })

# Convert to DataFrame and save
df = pd.DataFrame(data)
df.to_csv("Juice_Sales_July2025_VisualStudio.csv", index=False)

print("csv file created successfully!")

csv file created successfully!

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
dataset = pd.read_csv('Juice_Sales_July2025_VisualStudio.csv')
dataset

,Date,Juice Type,Quantity,Unit Price,Total Price,Customer Age,Gender,Payment Method,Time of Day,Customer Type
0,2025-07-31,Mango,4,54,216,25,Male,Cash,Afternoon,New
1,2025-07-30,Pineapple,3,46,138,11,Female,Card,Morning,Regular
2,2025-07-18,Orange,3,69,207,24,Male,Cash,Afternoon,New
3,2025-07-24,Mixed Fruit,2,52,104,60,Male,UPI,Morning,Regular
4,2025-07-28,Apple,1,64,64,40,Male,Card,Morning,New
...,...,...,...,...,...,...,...,...,...,...
540,2025-07-21,Mango,1,40,40,37,Male,Cash,Afternoon,New
541,2025-07-18,Orange,3,55,165,18,Female,Card,Afternoon,Regular
542,2025-07-28,Watermelon,1,42,42,56,Female,Card,Morning,Regular
543,2025-07-11,Pomegranate,2,57,114,34,Male,Cash,Afternoon,New
544,2025-07-23,Pomegranate,3,65,195,62,Male,Card,Morning,New